:root {
  --color-background-dark: #0d1117;
  --color-background-medium: #111827;
  --color-background-light: #1e293b;
  --color-border-primary: #374151;
  --color-text-muted: #6b7280;
  --color-text-primary: #e6edf3;
  --color-text-secondary: #9c9d9d;

  --color-shadow: rgba(30, 41, 59, 0.3);
  --color-link-primary: #a8c7fa;
  --color-link-secondary: #38bdf8;
  scroll-behavior: smooth;
}

html,
body,
#app {
  background-color: var(--color-background-dark);
}

chat-container {
  background-color: var(--color-background-dark);
  min-height: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  /* Dynamic viewport units for better responsiveness */
  max-width: 100dvw;
  width: 100dvw;
  max-height: 100dvh;
  height: 100dvh;
  display: grid;
  /* TODO: uncomment this later when we add the chat history feature */
  /* grid-template-columns: minmax(15rem, 1fr) 5fr; */
  grid-template-columns: 1fr;

  user-select: none;
  -webkit-user-select: none;
}

side-bar {
  background-color: var(--color-background-medium);
  border-right: 1px solid var(--color-border-primary);
  user-select: none;
  -webkit-user-select: none;
}

.main-content {
  color: var(--color-text-primary);
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-dark: #0d1117;
    --color-background-medium: #111827;
    --color-background-light: #1e293b;
    --color-border-primary: #374151;
    --color-text-muted: #6b7280;
    --color-text-primary: #e6edf3;
    --color-text-secondary: #9c9d9d;
  }
}

@media (700px >= width) {
  side-bar {
    display: none;
  }

  chat-container {
    grid-template-columns: 1fr;
  }
}
