<!-- <ul class="chat-messages"> -->
<!--   <slot> -->
<!--     <h2>Template for chat messages component.</h2> -->
<!--   </slot> -->
<!-- </ul> -->
<!---->
<!-- <template id="user-message-template"> -->
<!--   <li class="user"> -->
<!--     <p></p> -->
<!--     <span></span> -->
<!--   </li> -->
<!-- </template> -->
<!---->
<!-- <template id="assistant-message-template"> -->
<!--   <li class="assistant brain"> -->
<!--     <div class="loading-spinner"> -->
<!--       <img src="/binary-logo.png" alt="Thinking..." /> -->
<!--     </div> -->
<!--     <p></p> -->
<!--     <button class="hide"> -->
<!--       <svg -->
<!--         xmlns="http://www.w3.org/2000/svg" -->
<!--         width="24" -->
<!--         height="24" -->
<!--         viewBox="0 0 24 24" -->
<!--         stroke="currentColor" -->
<!--         stroke-width="2" -->
<!--         stroke-linecap="round" -->
<!--         stroke-linejoin="round" -->
<!--         class="lucide lucide-copy-icon lucide-copy" -->
<!--       > -->
<!--         <rect width="14" height="14" x="8" y="8" rx="2" ry="2" /> -->
<!--         <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2" /> -->
<!--       </svg> -->
<!--     </button> -->
<!--   </li> -->
<!-- </template> -->
